.container-padding-block {
  padding: 20px 20px 23px 20px;
}

.pagnatn-op-auth-comb {
  margin: -35px 0 0;
}

.container-return-prev {
  text-align: left;
  color: #196ECF;
  font-weight: 500;
  line-height: 22px;
  padding: 0 15px 25px 15px;
  position: relative;
  cursor: pointer;
  margin-top: -2px;
}

.link-decoration  {
  text-decoration: none;
}

.container-title {
  margin-bottom: 15px;
  color: #252C37;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

.button-margin {
  margin-right: 15px;
}

.container-table-style {
  margin: 0 -20px;
}

.container-input {
  padding-top: 18px;
}

.container-input-field {
  padding-left: 5px;
}

.container-title-details {
  margin-bottom: -8px;
}

.span-return-prev {
  color: #196ECF;
  margin-left: 5px;
}

