<div class="row">
  <div class="col-xs-12 col-md-12 container-return-prev">
    <a class="link-decoration" href="#" (click)="cancelEventClick()" foxHotkey="ctrl+f1" hotkeyAction="click">
      <img src="assets/img/arrow-left.svg"/>
      <span class="span-return-prev">Return to Previous (F1)</span>
    </a>
  </div>
</div>

<fox-section [noPadding]="true">
  <div class="container-padding-block">
  <div class="row no-padding">
    <div class="col-xs-12 container-title-details">
      <fox-section-title>Operator Information (IONS)</fox-section-title>
    </div>
  </div>
  <div class="row row-holder div-member-details-container">
    <div class="col-xs-12 col-sm-3 container-input">
      <fox-input type="text"
                 labelText="Authority Level"
                 isReadOnly="true"
                 isReadOnlyNoPaddingLeftRight="true"
                 [(ngModel)]="screen.authLevelVal">
      </fox-input>
    </div>
    <div class="col-xs-12 col-sm-3 container-input">
      <fox-input type="text"
                 labelText="Position"
                 isReadOnly="true"
                 isReadOnlyNoPaddingLeftRight="true"
                 [(ngModel)]="screen.posVal">
      </fox-input>
    </div>
    <div class="col-xs-12 col-sm-3 container-input">
      <fox-input type="text"
                 labelText="Last Maintenance Date"
                 isReadOnly="true"
                 isReadOnlyNoPaddingLeftRight="true"
                 [(ngModel)]="screen.maintDate">
      </fox-input>
    </div>
    <div class="col-xs-12 col-sm-3 container-input">
      <fox-input type="text"
                 labelText="Maintenance IONs"
                 isReadOnly="true"
                 isReadOnlyNoPaddingLeftRight="true"
                 [(ngModel)]="screen.ion">
      </fox-input>
    </div>
  </div>
  </div>
</fox-section>
<fox-section class="table-style">
  <div class="container-details">
  <div class="row">
    <div class="container-title">
      <fox-section-title>Authority Combinations</fox-section-title>
    </div>
    <div class="container-div-fox-sub-title" *ngIf="screen.func === 'UPDATE'">
      <fox-section-subheader>Use Tab or arrow keys to navigate and update fields. Click "Submit" (Alt + S) to proceed.</fox-section-subheader>
    </div>
  </div>
  <div class="container-table-style">
    <fox-table #inputTable
               [tableColumns]="inputColumns"
               [tableData]="viewData | orderBy: {property: tableSortKey, direction: tableSortDirection}"
               (columnChanged)="tableSortKey = $event"
               (directionChanged)="tableSortDirection = $event"
               [fixedFirstColumn]="true">
    </fox-table>
    <div class="row pagnatn-op-auth-comb">
      <fox-paginator-non-material #paginator
                                  [(pageSize)]="pageSizeSelected"
                                  [dataLengthInput]="dataLengthInput"
                                  [pageTotal]="pageTotal"
                                  [(currentPage)]="currentPage"
                                  (currentPageChange)="calculateNewPage();"
                                  (pageSizeChange)="currentPage=0; calculateNewPage();"
                                  [pageSizeDropdownOption]="pageSizeDropdownOption">
      </fox-paginator-non-material>
    </div>
  </div>
  </div>
</fox-section>
<div class="row" *ngIf="isReadOnly">
  <div class="col-sm-12 text-right">
    <button type="button"
            class="btn btn-secondary  button-margin"
            (click)="clearEventClick()"
            foxHotkey="alt+r"
            hotkeyAction="click">
      Clear (R)
    </button>
    <fox-loading-button [buttonValue] = "'Submit (S)'"
                        [buttonStatus]="buttonStatus"
                        [typeValue]="'button'"
                        [foxHotKeyValue]="'alt+s'"
                        (buttonClick)="enterEventClick()">
    </fox-loading-button>
  </div>
</div>
