<div class="container-goto col-md-12">
  <div class="container-link-1 col-md-8">
    <a class="link-back-search" [foxLink] [routerLink]="url"><i focusable="false" class="fas fa-arrow-left"></i>
      Back to Search Results</a>
  </div>
  <div class="container-link-2 col-md-4">
    <div class="containers-links">
      <a class="link-prev-result" [foxLink]><i focusable="false" class="fas fa-chevron-left"></i> Prev Result (I)</a>
      <a class="link-next-result" [foxLink]>Next Result (J)<i focusable="false" class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</div>
