<div class="container-grey-border no-padding table-bill-line">
  <div class="container-medsupp-line-table">
    <table class="table table-medsupp-bill-line">
      <thead class="thead-default">
      <tr>
        <ng-container *ngIf="!isEobType">
          <th [foxLink] (linkPressed)="sort('billLineNumber')" class="column-bill-line-num"
              [ngClass]="{'sorted-column-header':(column == 'billLineNumber'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Bill Line #</fox-table-header-sort>
          </th>
          <th [foxLink] class="column-bill-type">
            Bill Line Type
          </th>
          <th [foxLink] (linkPressed)="sort('plnCode')"
              [ngClass]="{'sorted-column-header':(column == 'plnCode'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Plan Code</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('srvCode')"
              [ngClass]="{'sorted-column-header':(column == 'srvCode'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Type of Service</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('prvNm')"
              [ngClass]="{'sorted-column-header':(column == 'prvNm'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Rendering Provider</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('serviceFromDate')"
              [ngClass]="{'sorted-column-header':(column == 'serviceFromDate'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Date of Service From</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('serviceToDate')"
              [ngClass]="{'sorted-column-header':(column == 'serviceToDate'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Date of Service To</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('submitCharge')"
              [ngClass]="{'sorted-column-header':(column == 'submitCharge'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Charge Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('mcareAprvdAmount')"
              [ngClass]="{'sorted-column-header':(column == 'mcareAprvdAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Approved Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('mcarePmntAmount')"
              [ngClass]="{'sorted-column-header':(column == 'mcarePmntAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Paid Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('mcareDedAmount')"
              [ngClass]="{'sorted-column-header':(column == 'mcareDedAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Deductible Amount</fox-table-header-sort>
          </th>
          <th [foxLink]>
            Medicare Coinsurance Amount
          </th>
          <th [foxLink]>
            Deductible Amount
          </th>
          <th [foxLink] (linkPressed)="sort('coinsAmt')"
              [ngClass]="{'sorted-column-header':(column == 'coinsAmt'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Coinsurance Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('aarpCoPayAmt')"
              [ngClass]="{'sorted-column-header':(column == 'aarpCoPayAmt'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Copay</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('cptCode')"
              [ngClass]="{'sorted-column-header':(column == 'cptCode'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>CPT</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod1')"
              [ngClass]="{'sorted-column-header':(column == 'procMod1'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 1</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod2')"
              [ngClass]="{'sorted-column-header':(column == 'procMod2'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 2</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod3')"
              [ngClass]="{'sorted-column-header':(column == 'procMod3'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 3</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod4')"
              [ngClass]="{'sorted-column-header':(column == 'procMod4'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 4</fox-table-header-sort>
          </th>
          <th [foxLink]>
            Benefit Amount
          </th>
          <th [foxLink] (linkPressed)="sort('mcareAsgnInd')"
              [ngClass]="{'sorted-column-header':(column == 'mcareAsgnInd'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Assignment</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('pctRt')"
              [ngClass]="{'sorted-column-header':(column == 'pctRt'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Percent Paid</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('blNopayInd')"
              [ngClass]="{'sorted-column-header':(column == 'blNopayInd'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>No Pay</fox-table-header-sort>
          </th>
          <th [foxLink]>
            Exclude Payment Under Plan
          </th>
          <th [foxLink]>
            Billing Provider
          </th>
        </ng-container>

        <ng-container *ngIf="isEobType">
          <th class="col-toggle"></th>
          <th [foxLink] (linkPressed)="sort('billLineNumber')"
              [ngClass]="{'sorted-column-header':(column == 'billLineNumber'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Bill Line #</fox-table-header-sort>
          </th>
          <th [foxLink] class="column-bill-type">
            Bill Line Type
          </th>
          <th [foxLink] (linkPressed)="sort('planCode')"
              [ngClass]="{'sorted-column-header':(column == 'planCode'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Plan Code</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('serviceCode')"
              [ngClass]="{'sorted-column-header':(column == 'serviceCode'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Type of Service</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('billProviderNm')"
              [ngClass]="{'sorted-column-header':(column == 'billProviderNm'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Rendering Provider</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('serviceFromDate')"
              [ngClass]="{'sorted-column-header':(column == 'serviceFromDate'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Date of Service From</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('serviceToDate')"
              [ngClass]="{'sorted-column-header':(column == 'serviceToDate'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Date of Service To</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('submitCharge')"
              [ngClass]="{'sorted-column-header':(column == 'submitCharge'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Charge Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('mcareAprvdAmount')"
              [ngClass]="{'sorted-column-header':(column == 'mcareAprvdAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Approved Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('mcarePdAmount')"
              [ngClass]="{'sorted-column-header':(column == 'mcarePdAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Paid Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('partBDedAmt')"
              [ngClass]="{'sorted-column-header':(column == 'partBDedAmt'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Deductible Amount</fox-table-header-sort>
          </th>
          <th [foxLink]>
            Medicare Coinsurance Amount
          </th>
          <th [foxLink] (linkPressed)="sort('aarpDedAmount')"
              [ngClass]="{'sorted-column-header':(column == 'aarpDedAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Deductible Amount</fox-table-header-sort>
          </th>
          <th [foxLink]>
            Coinsurance Amount
          </th>
          <th [foxLink]>
            Copay
          </th>
          <th [foxLink] (linkPressed)="sort('cptCode')"
              [ngClass]="{'sorted-column-header':(column == 'cptCode'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>CPT</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod1')"
              [ngClass]="{'sorted-column-header':(column == 'procMod1'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 1</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod2')"
              [ngClass]="{'sorted-column-header':(column == 'procMod2'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 2</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod3')"
              [ngClass]="{'sorted-column-header':(column == 'procMod3'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 3</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('procMod4')"
              [ngClass]="{'sorted-column-header':(column == 'procMod4'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Modifier 4</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('dayBenAmount')"
              [ngClass]="{'sorted-column-header':(column == 'dayBenAmount'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Benefit Amount</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('mcareAsgnInd')"
              [ngClass]="{'sorted-column-header':(column == 'mcareAsgnInd'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Medicare Assignment</fox-table-header-sort>
          </th>
          <th [foxLink] (linkPressed)="sort('pctPd')"
              [ngClass]="{'sorted-column-header':(column == 'pctPd'), 'asc': !isDesc, 'desc': isDesc}">
            <fox-table-header-sort>Percent Paid</fox-table-header-sort>
          </th>
          <th [foxLink]>
            No Pay
          </th>
          <th [foxLink]>
            Exclude Payment Under Plan
          </th>
          <th [foxLink]>
            Billing Provider
          </th>

        </ng-container>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!isEobType">
        <ng-container *ngFor="let dat of billLinesResultSet; let j = index">
          <tr [id]=" 'billLines-medsupp-tr-' + j">
            <td>
              <span>{{dat['enteredBillLineNumber']}}</span>
            </td>
            <td>
              <span *ngIf="dat['enteredBillLineNumber']">Entered</span>
            </td>
            <ng-container *ngFor="let key of dataKeys; let k = index" [ngSwitch]="k">
              <td [id]=" 'billLines-medsupp-tr-' + j + '-td-' + k" *ngIf="k != 0 && k < 25">
                <div *ngSwitchCase="1"><span>{{dat['enteredPlanCode']}}</span></div>
                <div *ngSwitchCase="2">
                  <span *ngIf="dat['enteredTypeOfService']" focusable="false"
                        class="glyphicon glyphicon-info-sign info-tooltip"
                        [tooltip]="enteredServiceTypeToolTip" placement="bottom"
                        (mouseover)="getServiceType(dat['enteredTypeOfService'])"></span>
                  &nbsp;<span>{{dat['enteredTypeOfService']}}</span>
                </div>
                <div *ngSwitchCase="3" class="tooltip-render-npi">
                  <span *ngIf="dat['enteredRenderingProv']" focusable="false"
                        class="glyphicon glyphicon-info-sign info-tooltip"
                        [tooltip]="enteredRenderNpiToolTip" placement="bottom"></span>
                  &nbsp;<span>{{dat['enteredRenderingProv']}}</span>
                </div>
                <div *ngSwitchCase="4">
                  <span>{{dat['enteredDosFromDate'] | date: 'MM/dd/yyyy'}}</span></div>
                <div *ngSwitchCase="5"><span>{{dat['enteredDosToDate'] | date: 'MM/dd/yyyy'}}</span>
                </div>
                <div *ngSwitchCase="6" class="currency-column"><span>{{dat['enteredChargeAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="7" class="currency-column"><span>{{dat['enteredMedicareApprvdAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="8" class="currency-column"><span>{{dat['enteredMedicarePaidAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="9" class="currency-column"><span>{{dat['enteredMedicareDeductAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="10"></div>
                <div *ngSwitchCase="11" class="currency-column"><span>{{dat['enteredDeductAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="12" class="currency-column"><span>{{dat['enteredCoinsAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="13"><span>{{dat['enteredCopay']}}</span></div>
                <div *ngSwitchCase="14"><span>{{dat['enteredCpt']}}</span></div>
                <div *ngSwitchCase="15"><span>{{dat['enteredCptModifier1']}}</span></div>
                <div *ngSwitchCase="16"><span>{{dat['enteredCptModifier2']}}</span></div>
                <div *ngSwitchCase="17"><span>{{dat['enteredCptModifier3']}}</span></div>
                <div *ngSwitchCase="18"><span>{{dat['enteredCptModifier4']}}</span></div>
                <div *ngSwitchCase="19" class="currency-column"><span>{{dat['enteredBenefitAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="20"><span>{{dat['enteredMedicareAssgnInd']}}</span></div>
                <div *ngSwitchCase="21"><span>{{dat['enteredPercentPaid']}}</span></div>
                <div *ngSwitchCase="22"><span>{{dat['enteredNoPay']}}</span></div>
                <div *ngSwitchCase="23"><span>{{dat['enteredExclPaymentPlan']}}</span></div>
                <div *ngSwitchCase="24">
                  <span *ngIf="dat['enteredBillingProvName']" focusable="false"
                        class="glyphicon glyphicon-info-sign info-tooltip"
                        [tooltip]="enteredBillNpiToolTip" placement="bottom"></span>
                  &nbsp;<span>{{dat['enteredBillingProvName']}}</span>
                </div>
                <ng-template #enteredBillNpiToolTip>
                  <div><span class="tooltip-text-header">Billing Provider NPI</span><br><span
                    class="tooltip-text-msg">{{dat['enteredBillingProvNpi']}}</span></div>
                </ng-template>
                <ng-template #enteredRenderNpiToolTip>
                  <div><span class="tooltip-text-header">Rendering Provider NPI</span><br><span
                    class="tooltip-text-msg">{{dat['enteredRenderingProvNpi']}}</span></div>
                </ng-template>
                <ng-template #enteredServiceTypeToolTip>
                  <div><span class="tooltip-text-header">{{serviceTypeHeader}}</span><br><span
                    class="tooltip-text-msg">{{serviceTypeDescr}}</span></div>
                </ng-template>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isEobType">
        <ng-container *ngFor="let dat of billLinesResultSet; let j = index">
          <tr [id]=" 'billLines-medsupp-tr-' + j"
              [ngClass]="{'row-expand': (j == rowClicked && !isCollapse)}">
            <td [id]=" 'billLines-medsupp-tr-' + j + '-td-0'"
                [ngClass]="{'border-expand': (j === rowClicked && !isCollapse && isBillLineMsg)}"
                class="col-toggle">
                <span *ngIf="dat['eobBillLineMessageCount'] > 0" [foxLink] class="clickable" [attr.aria-expanded]="!isCollapse" aria-controls="'#collapsedRow_'+j"
                      (linkPressed)="billLineRowClick(dat.eobBillLineKey, j, isCollapse, dat.eobBillLineMessageCount)">
                  <button type="button" class="btn-indicator" [disabled]="true">
                    <span *ngIf="j !== rowClicked || isCollapse">
                      <img class="icon-arrow-toggle" focusable="false" src="assets/img/arrow-right-blue.svg">
                    </span>
                    <span *ngIf="j === rowClicked && !isCollapse">
                      <img class="icon-arrow-toggle" focusable="false" src="assets/img/arrow-down-blue.svg">
                    </span>
                  </button>
                </span>
            </td>

            <ng-container *ngFor="let key of dataKeys; let k = index" [ngSwitch]="k">
              <td [id]=" 'billLines-medsupp-tr-' + j + '-td-' + k+1"
                  *ngIf="k < 26">
                <div class="column-bill-line-num" *ngSwitchCase="0">
                  <span class="margin-right-20">{{dat['eobBillLineNumber']}}</span>
                  <span class="section-msg-banner" *ngIf="dat['eobBillLineMessageCount'] > 0">
                    <span>{{dat['eobBillLineMessageCount']}} Message<span *ngIf="dat['eobBillLineMessageCount'] > 1">s</span></span>
                  </span>
                </div>
                <div *ngSwitchCase="1"><span *ngIf="dat['eobBillLineNumber']">EOB</span></div>
                <div *ngSwitchCase="2"><span>{{dat['eobPlanCode']}}</span></div>
                <div *ngSwitchCase="3">
                  <span *ngIf="dat['eobTypeOfService']" focusable="false"
                        class="glyphicon glyphicon-info-sign info-tooltip"
                        [tooltip]="eobServiceTypeToolTip" placement="bottom"
                        (mouseover)="getServiceType(dat['eobTypeOfService'])"></span>
                  &nbsp;<span>{{dat['eobTypeOfService']}}</span>
                </div>
                <div *ngSwitchCase="4" class="tooltip-render-npi">
                  <span *ngIf="dat['eobRenderingProv']" focusable="false"
                        class="glyphicon glyphicon-info-sign info-tooltip"
                        [tooltip]="eobRenderNpiToolTip" placement="bottom"></span>
                  &nbsp;<span>{{dat['eobRenderingProv']}}</span>
                </div>
                <div *ngSwitchCase="5"><span>{{dat['eobDosFromDate'] | date: 'MM/dd/yyyy'}}</span>
                </div>
                <div *ngSwitchCase="6"><span>{{dat['eobDosToDate'] | date: 'MM/dd/yyyy'}}</span>
                </div>
                <div *ngSwitchCase="7" class="currency-column"><span>{{dat['eobChargeAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="8" class="currency-column"><span>{{dat['eobMedicareApprvdAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="9" class="currency-column"><span>{{dat['eobMedicarePaidAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="10" class="currency-column"><span>{{dat['eobMedicareDeductAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="11"></div>
                <div *ngSwitchCase="12" class="currency-column"><span>{{dat['eobDeductAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="13" class="currency-column"><span>{{dat['eobCoinsAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="14" class="currency-column"><span>{{dat['eobCopay'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="15"><span>{{dat['eobCpt']}}</span></div>
                <div *ngSwitchCase="16"><span>{{dat['eobCptModifier1']}}</span></div>
                <div *ngSwitchCase="17"><span>{{dat['eobCptModifier2']}}</span></div>
                <div *ngSwitchCase="18"><span>{{dat['eobCptModifier3']}}</span></div>
                <div *ngSwitchCase="19"><span>{{dat['eobCptModifier4']}}</span></div>
                <div *ngSwitchCase="20" class="currency-column"><span>{{dat['eobBenefitAmt'] | currency : 'USD'}}</span>
                </div>
                <div *ngSwitchCase="21"><span>{{dat['eobMedicareAssgnInd']}}</span></div>
                <div *ngSwitchCase="22"><span>{{dat['eobPercentPaid']}}</span></div>
                <div *ngSwitchCase="23"><span>{{dat['eobNoPay']}}</span></div>
                <div *ngSwitchCase="24"><span>{{dat['eobExclPaymentPlan']}}</span></div>
                <div *ngSwitchCase="25">
                  <span *ngIf="dat['eobBillingProvName']" focusable="false"
                        class="glyphicon glyphicon-info-sign info-tooltip"
                        [tooltip]="eobBillNpiToolTip" placement="bottom"></span>
                  &nbsp;<span>{{dat['eobBillingProvName']}}</span>
                </div>
                <ng-template #eobBillNpiToolTip>
                  <div><span class="tooltip-text-header">Billing Provider NPI</span><br><span
                    class="tooltip-text-msg">{{dat['eobBillingProvNpi']}}</span></div>
                </ng-template>
                <ng-template #eobRenderNpiToolTip>
                  <div><span class="tooltip-text-header">Rendering Provider NPI</span><br><span
                    class="tooltip-text-msg">{{dat['eobRenderingProvNpi']}}</span></div>
                </ng-template>
                <ng-template #eobServiceTypeToolTip>
                  <div><span class="tooltip-text-header">{{serviceTypeHeader}}</span><br><span
                    class="tooltip-text-msg">{{serviceTypeDescr}}</span></div>
                </ng-template>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="j===rowClicked && isBillLineMsg" id="collapsedRow_{{j}}" [collapse]="isCollapse" class="container-tr">
            <td colspan="27" [ngClass]="{'container-bill': !isCollapse }" *ngIf="!isCollapse">
              <div *ngIf="!isBillLineDataDisplay" class="container-load">Loading...</div>
              <div *ngIf="isBillLineDataDisplay"><p><span class="title-billLines-msg">Bill Line Messages</span>
              </p></div>
              <fox-bill-lines-messages *ngIf="isBillLineDataDisplay"
                                       [billLinesResults]="billLinesResults"></fox-bill-lines-messages>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
