.container-delete-details {
  max-width: 840px;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}

.container-confirm-msg {
  height: 20px;
  max-width: 832px;
  color: #333333;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  margin-bottom: 25px;
}

.container-modal-btns {
  padding-right: 0;
}

.btn-submit-delete {
  height: 39px;
  width: 128px;
  border-radius: 2px;
  background-color: #BF3533;
  border-color: #BF3533;
}

.btn-clear-modal {
  height: 39px;
  width: 128px;
  border: solid 1px #196ECF;
  margin-right: 15px;
  border-radius: 2px;
}

.textarea-claim-note-content {
  width: 100%;
  margin-bottom: 25px;
}

.textarea-claim-note-content .mat-hint {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}

.textarea-claim-note-content .mat-input-element {
  resize: none;
  height: 74px;
  width: 1132px;
  border: 1px solid #CED3DA;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.label-note-field {
  height: 14px;
  width: 90px;
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.container-textarea-hint {
  height: 12px;
  width: 95px;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: right;
}
