<div class="container-content row">
  <div class="col-sm-12">
    <div class="col-xs-10">
      <img class="img-error" src="assets/img/no-access.svg" />
      <div class="txt-error-header"><strong>Error: </strong> Multiple Adjudication Sessions</div>
      <div class="txt-content">
        <div class="txt-attmpt">
          You are attempting to open multiple adjudication sessions. This is currently not allowed.
          <p>
          Please close any other browser windows or tabs that are open to an adjudication screen and try again.
          </p>
        </div>
        <p class="txt-help-desk">Contact Help Desk if you believe this is an error.</p>
      </div>
      <div class="adj-list">
        <strong>Adjudication screens include:</strong> PAA1, PAA2, PAA3, PAA4, PAA5, PA43, PA44, PA45, PA49, PAC7, PB21, PB22, PB23, PB25,
        <p>
          PB26, PB27, PB28, PB29, PB30, PB31, PB32, PB33, PB34, PB35, PB36, PB37, PB39, PB9H, PB9K, MAC6
        </p>
      </div>
    </div>
  </div>
</div>
