.container-claim-member {
  margin-bottom: 10px;
}

.header-member-no {
  color: #252C37;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}

.text-header {
  color: #252C37;
  font-weight: 600;
  margin-left: 5px;
}

.caret-down path {
  fill: #196ECF;
}

.text-user-no {
  color: #196ECF;
}

.caret-down {
  width: 8px;
  align-items: center;
}

.btn-caret {
  border: 0.5px solid lightgray;
  border-radius: 15%;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.container-dropdown {
  padding-left: 7px;
  margin-top: 5px;
  margin-left: 5px;
}

.mat-menu-member:after {
  left: 50%;
}

.mat-menu-member:before {
  left: 50%;
}

.cdk-overlay-container .cdk-overlay-pane .mat-menu-member.mat-menu-below,
.cdk-overlay-container .cdk-overlay-pane .mat-menu-claim.mat-menu-below {
  margin-left: initial;
  margin-top: initial;
  position: absolute !important;
  left: -67px;
  top: 0px;
  min-width: 200px;
}

.cdk-overlay-container .cdk-overlay-pane .mat-menu-member.mat-menu-below.mat-menu-width,
.cdk-overlay-container .cdk-overlay-pane .mat-menu-claim.mat-menu-below.mat-menu-width {
  margin-left: initial;
  margin-top: initial;
  position: absolute;
  left: -135px;
  top: 0px;
  min-width: 266px;
  overflow-x: hidden;
}

.cdk-overlay-container .cdk-overlay-pane .mat-menu-member.mat-menu-below:after,
.cdk-overlay-container .cdk-overlay-pane .mat-menu-claim.mat-menu-below:after {
  margin-top: -14px;
  top: 16px;
  left: initial;
  right: 113px;
}

.cdk-overlay-container .cdk-overlay-pane .mat-menu-member.mat-menu-below:before,
.cdk-overlay-container .cdk-overlay-pane .mat-menu-claim.mat-menu-below:before {
  margin-top: -14px;
  top: 14px;
  left: initial;
  right: 112px;
}

.img-claim {
  width: 16px;
  color: #6E7681;
  margin-bottom: 5px;
}

@media screen and (max-width:767px) {

  .container-claim-member .text {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    margin-left: 0;
  }
  .btn-text {
    margin: 0;
  }
}
