.page-title {
  margin-top: 0px;
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  border-bottom: solid 1px #E3E3E3;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.background-circle {
  background-color: #FFAA25;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
  padding: 4px;
}

.container-last-row {
  padding-bottom: 20px;
}

.container-op-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.claim-margin-ben-main {
  margin-bottom: -20px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -85px;
}

.claim-margin-main {
  margin-bottom: -20px;
}

.srv-date-field {
  width: 50%;
  float: left;
  margin-left: 8px;
}

.member-address-non-mat-table {
  width: 1500px;
}

.container-hosp-info {
  margin-top: 15px;
  margin-bottom: 15px;
}

.table-request-info {
  display: block;
  overflow: auto;
}

.col-type-width {
  width: 40px;
}

.col-date-width {
  width: 100px;
}

.col-prn-width {
  width: 120px;
}

.col-prn-width {
  width: 135px;
}

.col-prov1-row-width {
  width: 140px;
  padding-left: 0px;
}

.col-prov1-row1-width {
  width: 500px;
}

.col-prov1-row1a-width {
  width: 50px;
  padding-left: 0px;
}

.col-prov1-row2-width {
  width: 40px;
}

.col-eff-width {
  width: 100px;
}

.col-align-width {
  text-align: center;
}

.btn-standard {
  background-color: white;
  color: #196ECF;
  border: solid 1px #196ECF;
  margin-right: 15px;
}

.container-bill-card {
  padding-top: 10px;
}

.container-bill-label {
  position: relative;
  width: 140px;
}

.container-bill-content-label {
  width: 130px;
  color: #333333;
  font-family: "UHC Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 14px;
}

.container-member-value {
  width: 55px;
  color: #333333;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 14px;
}

.header-text {
  width: 94.4px;
  color: #4E5B71;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
}

.left-border {
  border-left: 1px solid #cccccc;
}

.text-upper {
  text-transform: uppercase;
}

.text-style {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  padding-left: 5px;
  padding-right: 8px;
}

.input-style {
  text-transform: uppercase;
  padding-top: 0;
  margin-bottom: 0px;
}

.container-return-prev {
  text-align: left;
  color: #196ECF;
  font-weight: 500;
  line-height: 22px;
  padding: 5px 15px 25px 15px;
  position: relative;
  cursor: pointer;
}

.link-decoration  {
  text-decoration: none;
}

.span-return-prev {
  color: #196ECF;
  margin-left: 5px;
  position: absolute;
  top: 7px;
}

.container-card-title {
  color: #252C37;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

.container-icd-code {
  padding: 0 5px;
}

.input-icd {
  padding: 0;
}

.container-margin-top {
  margin-top: 25px;
}

.section-icd {
  margin-top: -27px;
}

.container-title-table {
  color: #252C37;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
}

.container-sub-title {
  color: #6E7681;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
}

.container-position {
  float: right;
}

.button-position {
  margin-left: 15px;
  position: relative;
}

.container-circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #92A7C2;
  position: relative;
}

.container-caution {
  font-size: 16px;
  font-weight: 600;
}

.color-caution-text {
  color: #3F5A7A;
}

.row-caution {
  margin-left: 0;
}

.img-caution {
  position: absolute;
  left: 7px;
  top: 7px;
}

@media (max-width: 768px) {
  .container-icd-code {
    padding: 0 15px;
  }

  .container-position-button {
    padding-top: 10px;
  }
}
