.container-return-prev {
  padding: 5px 15px 25px 15px;
  position: relative;
}

.span-return-pre {
  color: #196ECF;
  margin-left: 5px;
  position: absolute;
  font-weight: 500;
  top: 7px;
  cursor: pointer;
}

.span-return-pre:focus {
  border: none;
  text-decoration: none;
  outline: none;
}

.container-info-group {
  border-bottom: 1px solid #EEEFF2;
  height: 39px;
  width: 1220px;
}

.container-overflow {
  overflow-x: auto;
  overflow-y: hidden;
}

.container-overview {
  margin: 0;
  padding: 0 20px 30px 0;
}

.container-overview-title {
  padding: 0 20px;
  margin: 0;
}

.container-overview-content {
  padding: 0;
}

.container-read-only-custom {
  padding: 0 0 0 20px;
  margin: 0;
}

.container-info {
  margin: 0;
  padding: 0 0 30px 0;
}

.container-top-title {
  margin: 0;
  padding: 0 20px 22px 20px;
}

.container-plans-list {
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid #EEEFF2;
}

.container-sub-title {
  color: #6E7681;
  margin-top: -5px;
}

.span-checkbox-value {
  width: 39px;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

.span-ckeckbox-label {
  width: 54px;
  text-align: left;
  padding-left: 3px;
  display: table-cell;
  vertical-align: middle;
  line-height: 18px;
}

.container-info-value {
  width: 93px;
  display: inline-flex;
  position: relative;
  float: left;
}

.container-vertical-align {
  height: 39px;
  display: table;
}

.container-vertical-selected {
  background: #ECF4FE;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.container-vertical-unselected {
  background: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.container-last-cell {
  width: 102px;
}

input[type=checkbox] {
  margin: 0;
}

.container-select-all {
  padding: 24px 20px 0 21px;
}

.span-select-label {
  margin-left: 7px;
}

.container-button-margin {
  margin-top: 25px;
}

.container-float-right {
  float: right;
}

.button-margin-left {
  margin-left: 15px;
}

.container-top-title-default {
  margin: 0;
  padding: 0 20px 20px 20px;
}

.container-med-read-only {
  border-bottom: 1px solid #EEEFF2;
  height: 39px;
  width: 1220px;
}

.container-read-only-value {
  width: 100px;
  display: inline-flex;
  position: relative;
  float: left;
}

.span-read-only-label {
  text-align: left;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  line-height: 18px;
}

.container-description {
  padding: 0 20px 15px 20px;
  width: 1220px;
}

.span-icon-permission {
  margin-right: 10px;
}

.img-icon-confirm {
  height: 16px;
}

.span-label-permission {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 16px;
}

@media (max-width: 767px) {

  .container-read-small {
    margin-top: 20px;
  }

}
