.span-member-lookup {
  white-space: nowrap;
}

.page-title {
  margin-top: 15px;
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  border-bottom: solid 1px #E3E3E3;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.btn-reports {
  float: right;
  margin-right: 15px;
  border: 1px solid #D3D3D3;
  margin-top: -15px;
  font-weight: 500;
}

.div-subheader {
  color: #818080;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 5px;
}

.hidden-buttons-col {
  margin-left: 10px;
}

.hidden-button {
  margin-top: 3px;
}

.div-visible {
  padding-right: 40px;
}

.div-visible-col {
  margin-top: -20px;
  margin-bottom: 20px;
}

.img-reports {
  margin-right: 5px;
}


@media (max-width: 768px) {
  .button-visible {
    margin-top: 3px;
  }

  .btn-reports {
    margin-right: 0;
    margin-top: 10px;
  }

  .div-visible-col {
    margin-top: -25px;
    margin-bottom: 40px;
  }

}
