.span-set-bill-line {
  display: inline-flex;
  height: 35px;
  padding: 10px 15px;
}

.span-set-bill-left {
  color: #252C37;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding: 10px 20px;
}

.span-set-bill-right {
  color: #ffffff;
  background-color: #196ECF;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 600;
}

.fox-section-icd {
  margin-top: -27px;
}

.container-top-title {
  padding-top: 10px;
  padding-left:20px;
}

.container-sub-title {
  color: #6E7681;
  margin-top: -5px;
}

.txt-bill-line {
  float: right;
  padding-right: 20px;
}

.container-bill-line {
  padding-top: 20px;
}

.container-misc-plan {
  padding: 0 20px 30px 20px;
  margin:0;
}

.div-legends-bottom {
  padding: 20px 30px;
}

.div-legends-bottom-inside {
  width: 100%;
  background-color: #F4F5F6;
  padding: 25px 20px
}

.span-bold {
  font-weight: 600;
}

.span-padding-20 {
  padding-right: 20px;
}

.container-input-bottom {
  padding-left: 5px;
  padding-right: 5px;
}

.container-button-margin {
  margin-top: 25px;
}

.container-float-right {
  float: right;
}

.div-margin-left {
  margin-left: 15px;
}

.container-return-prev {
  padding: 5px 15px 25px 15px;
  position: relative;
}

.txt-return-pre {
  color: #196ECF;
  margin-left: 5px;
  position: absolute;
  font-weight: 500;
  top: 7px;
  cursor: pointer;
}

.container-header {
  padding: 20px 20px 0 20px;
  margin: 0;
}

.container-input-holder {
  padding: 15px 20px 15px 20px;
  margin: 0;
}

.container-input {
  padding-right: 20px;
  padding-left: 0;
}

.span-type-title {
  font-weight: 600;
  padding-right: 15px;
}

.img-return-icon {
  height: 14px;
}

.txt-return-pre:focus {
  border: none;
  text-decoration: none;
  outline: none;
}

.container-nursing-care {
  padding: 0 20px;
}

@media (max-width: 767px) {

  .txt-bill-line {
    float: left;
  }

  .container-input-left {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container-input-bottom {
    margin-bottom: 15px;
  }

  .container-input {
    padding-right: 0;
    margin-bottom: 15px;
  }

  .container-nursing-care {
    padding: 0;
  }

}

@media (min-width: 767px) {

  .container-input-holder {
    padding: 15px 20px 30px 20px;
  }

}
