<div class="container-goto col-md-12">
  <div class="container-link-1 col-md-8">
    <a class="link-back-search"  [routerLink]="url"><i class="fas fa-arrow-left"></i>
      Back to Search Results</a>
  </div>
  <div class="container-link-2 col-md-4">
    <div class="containers-links">
      <a class="link-prev-result"><i class="fas fa-chevron-left"></i> Prev Result (I)</a>
      <a class="link-next-result">Next Result (J)<i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</div>

<div class="container-main-section col-md-12">
  <div class="container-left-box col-md-9">
    <fox-loading-overlay>
      <fox-section [noPadding]="true">
        <div class="title-card">Overview</div>
        <div class="col-md-12 no-padding container-emp-details">
          <div class="col-md-6 no-padding section-card">
            <div class="section-title-1">Claim(s) from member</div>
            <span class="content-note-3">{{empName?.firstName}}&nbsp;{{empName?.lastName}}</span>
            <span><i class="fas fa-user" aria-hidden="true"></i>&nbsp;
            <a class="link-claim-detail" [routerLink]="getRedirectUrl(requestDetails?.memberNum, 'Member')">{{requestDetails?.aarpMembrshipNum}}</a></span>
            <span class="icon-right-arrow"><i focusable="false" class="fa fa-arrow-right"></i></span>
          </div>
          <div class="col-md-6 no-padding section-member">
            <div class="section-title-1">To destination member</div>
            <span><span class="content-note-4">{{destEmpName?.firstName}}&nbsp;{{destEmpName?.lastName}}</span>
            <span><i class="fas fa-user" aria-hidden="true"></i>&nbsp;
            <a class="link-claim-detail" [routerLink]="getRedirectUrl(destMemberNum, 'Member')">{{destAarpMemberNum}}</a></span>
            </span>
          </div>
        </div>
        <div class="col-md-12 no-padding section-divider1">
          <span><mat-divider></mat-divider></span>
        </div>
        <div class="col-md-12 no-padding margin-bottom-30">
          <div class="container-claim-details">
            <div class="title-claim-details">Claim(s) to be Transferred</div>
            <div class="section-claim-note">All claim listed below will be transferred between members</div>
          </div>
          <div class="col-md-12 no-padding">
            <span><mat-divider></mat-divider></span>
          </div>
          <ng-container *ngFor="let dat of transferClaimResults; let j = index">
            <div class="col-md-12 no-padding">
              <div class="col-md-6 no-padding">
                <div class="container-transfer-clm">
                  <div class="title-claim-num">Claim #{{dat['claimNum']}}</div>
                  <div class="section-note-clmNum">Dates of Service {{dat['dosFrom'] | date: 'MM/dd/yyyy'}} to {{dat['dosTo'] | date: 'MM/dd/yyyy'}}</div>
                </div>
              </div>
              <div class="col-md-6 no-padding">
                <div class="text-right container-transfer-clm">
                  <button type="button" class="btn-view-claim" [routerLink]="getRedirectUrl(dat['claimNum'], 'Claim')">
                    <span class="btn-view-txt">View Claim</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-12 no-padding">
              <span><mat-divider></mat-divider></span>
            </div>
          </ng-container>
        </div>

      </fox-section>
    </fox-loading-overlay>
  </div>

  <div class="container-right-box col-md-3">
    <fox-approve-deny-request [reqInfo]="reqInfo" [denialRsn]="denialRsn"
                              [reviewTimeStmp]="reviewTimeStmp" [approverMsid]="approverMsId"
                              [isPending]="isPending" [isApproved]="isApproved" [isDeny]="isDeny"
                              (isPendingChange)="isPending=$event" (isApprovedChange)="isApproved=$event"
                              (isDeniedChange)="isDeny=$event" (statusChange)="statusText=$event">
    </fox-approve-deny-request>
  </div>
</div>

