.section-status {
  height: 14px;
  width: 108px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.section-details{
  font-weight: 400;
}

.circle-icon-status {
  font-size: 9px;
  vertical-align: middle;
  padding-right: 3px;
  color: #FCD7AB;
}

.section-from {
  height: 12px;
  width: 228px;
  color: #4E5B71;
  font-size: 14px;
  line-height: 12px;
}

.circle-icon {
  font-size: 4px;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
}

.section-divider {
  height: 12px;
  width: 10px;
  color: #4E5B71;
  line-height: 12px;
}

.page-title {
  margin-top: 0;
}

.link-back-search {
  font-size: 14px;
  text-decoration: none;
  float: left;
  font-weight: normal;
}

.container-goto {
  height: 13px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 25px;
}

.container-link-1 {
  padding-left: 0;
  text-decoration: none;
}

.container-link-2 {
  padding-right: 0;
}

.link-prev-result {
  padding-right: 25px;
  text-decoration: none;
}

.fa-chevron-right {
  height: 10px;
  width: 10px;
  margin-left: 3px;
  font-size: 13px;
}

.fa-chevron-left {
  height: 10px;
  width: 10px;
  margin-right: 3px;
  font-size: 13px;
}

.fa-arrow-left {
  margin-right: 3px;
  font-size: 12px;
}

.link-next-result {
  text-decoration: none;
}

.containers-links {
  float: right;
}

.container-main-section, .container-right-box {
  padding-left: 0;
  padding-right: 0;
}

.container-left-box {
  padding-left: 0;
  padding-right: 30px;
}

.title-card {
  width: 590px;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding-top: 16px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.section-note-1 {
  padding-left: 20px;
  margin-bottom: 7px;
}

.content-note-1, .content-note-2 {
  height: 14px;
  color: #333333;
  font-size: 14px;
  line-height: 14px;
  position: relative;
}

.content-note-2 {
  position: absolute;
  left: 45%;
}

.section-note-2 {
  padding-left: 20px;
  margin-bottom: 30px;
}

.section-note-3 {
  position: absolute;
  left: 45%;
}

.content-note-3 {
  height: 22px;
  width: 183px;
  color: #333333;
  font-size: 22px;
  line-height: 22px;
  padding-right: 9px;
  position: relative;
}

.link-claim-detail {
  height: 22px;
  color: #196ECF;
  font-size: 14px;
  line-height: 22px;
  width:93.2px;
}

.fa-external-link-square-alt {
  font-size: 16px;
  color: #196ECF;
}

.content-note-4 {
  height: 22px;
  color: #333333;
  font-size: 22px;
  line-height: 22px;
  margin-right: 9px;
}

.fa-user {
  font-size: 16px;
  color: #196ECF;
}

.icon-container {
  height: 14px;
  width: 14px;
}

.container-change-table {
  margin-top: 4px;
  margin-bottom: 6px;
}

.section-subtitle {
  height: 16px;
  color: #818080;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.column-dos {
  width: 212px;
}

.column-claim-num {
  width: 158px;
}

.column-action {
  width: 133px;
  font-weight: 600;
}

.row-updated {
  background-color: #FFD5D5;
}

.section-member {
  width: 43%;
}

.section-card {
  width: 43%;
  margin-left: 20px;
}

.container-details {
  margin-bottom: 20px;
}

.section-info-label {
  height: 11px;
  width: 180px;
  color: #333333;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  margin: 1px 0 5px 7px;
}

.section-info-value {
  height: 16px;
  width: 180px;
  color: #333333;
  font-size: 16px;
  line-height: 16px;
  margin-left: 7px;
  margin-bottom: 8px;
}

.container-eob-info {
  height: 41px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.container-section-info {
  width: 180px;
  margin-right: 8px;
}

.update-eob-table-div {
  padding-left: 0;
  padding-right: 0;
}

.table-update-eob {
  max-height: 450px;
  overflow: auto;
  display: block;
}

.col-value-change {
  background-color: #FFD5D5;
}

.table-update-eob > thead > tr > th {
  white-space: nowrap;
}
