<fox-message-box [(visible)]="showNoClaimsAlert" messageBoxTitle="No claims found">
  Please update your search query and try again.
</fox-message-box>

<fox-message-box [(visible)]="showTooManyClaimsAlert" messageBoxTitle="Too many claims found">
  Please update your search query and try again.
</fox-message-box>

<mat-accordion>
  <mat-expansion-panel class="mat-expansion-border-blue claim-search-panel-top " [expanded]="true" #matExpansionPanel
    (opened)="showEnteredParameters=false" (closed)="showEnteredParameters=true">
    <mat-expansion-panel-header class="exp-panel-header" id="idOpenPanel"
      (click)="expandPanel(matExpansionPanel, $event)">
      <div class="container-margin-header">
        <span class="txt-search-header">Search Criteria</span>
      </div>
      <div *ngIf="!showEnteredParameters">
        <span class="txt-sub-header">Enter criteria below to find claims in intake. If Claim Tracking #
          is used, other fields are not necessary. Results are only returned if there are 100 or fewer.</span>
      </div>

      <div *ngIf="showEnteredParameters" class="div-inline-flex">
        <div *ngIf="keySubHeader[0]" class="container-margin-subheader">
          <span class="txt-param-subheader">{{keySubHeader[0]}}</span>
          <span>{{valueSubHeader[0]}} </span>
        </div>
        <div *ngIf="keySubHeader[1]" class="container-margin-subheader">
          <span class="txt-param-subheader">&#8226; {{keySubHeader[1]}}</span>
          <span>{{valueSubHeader[1]}} </span>
        </div>
        <div *ngIf="keySubHeader[2]" class="container-margin-subheader">
          <span class="txt-param-subheader">&#8226; {{keySubHeader[2]}}</span>
          <span>{{valueSubHeader[2]}} </span>
        </div>
        <div *ngIf="keySubHeader[3]" class="container-margin-subheader">
          <span class="txt-param-subheader">&#8226; {{keySubHeader[3]}}</span>
          <span>{{valueSubHeader[3]}} </span>
        </div>
        <div *ngIf="(addCriteria - 4) > 0">
          <span class="txt-param-subheader">&#8226; {{addCriteria - 4}} Additional Criteria </span>
        </div>
      </div>

    </mat-expansion-panel-header>

    <form [formGroup]="claimSearchFormGroup" (ngSubmit)="claimSearchSubmit(claimSearchFormGroup)" novalidate>

      <div class="row margin-top-20">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <mat-form-field class="input-claim-tracking">
            <mat-label>Claim Tracking #</mat-label>
            <input matInput maxlength="70" formControlName="claimNumber" id="idClaimTracking">
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-sm-3 col-xs-3 no-padding div-small-size">
            <mat-form-field class="input-small-size">
              <mat-label>Member #</mat-label>
              <input matInput maxlength="60" formControlName="memberNumber" id="idMember">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-sm-9 col-xs-9 no-padding container-medicare">
            <mat-form-field class="input-small-size">
              <mat-label>Medicare #</mat-label>
              <input matInput maxlength="60" formControlName="mediId" id="idMedicare">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-sm-3 col-xs-3 no-padding container-dob">
            <mat-form-field class="input-small-size">
              <mat-label>Date of Birth</mat-label>
              <input matInput maxlength="10" formControlName="dob" placeholder="MM/DD/YYYY" id="idDateBirth">
            </mat-form-field>
          </div>

          <div class="col-lg-5 col-sm-9 col-xs-9 no-padding container-fname">
            <mat-form-field class="input-mid-size">
              <mat-label>First Name</mat-label>
              <input matInput maxlength="60" formControlName="firstName" id="idFirstName">
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-sm-4 col-xs-4 no-padding div-mid-size">
            <mat-form-field class="input-mid-size">
              <mat-label>Last Name</mat-label>
              <input matInput maxlength="60" formControlName="lastName" id="idLastName">
            </mat-form-field>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 container-left-border">
          <div class="col-lg-4 col-sm-4 col-xs-4 no-padding container-bill-tin">
            <mat-form-field class="">
              <mat-label>Billing Provider TIN #</mat-label>
              <input matInput maxlength="60" formControlName="billTin" id="idBillingTin">
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-sm-8 col-xs-8 no-padding container-billing-npi">
            <mat-form-field class="billing-input-size">
              <mat-label>Billing Provider NPI #</mat-label>
              <input matInput maxlength="60" formControlName="billNpi" id="idBillingNpi">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-sm-3 col-xs-3 no-padding container-dos-from">
            <mat-form-field class="input-small-size">
              <mat-label>DOS From</mat-label>
              <input matInput maxlength="10" formControlName="dosFrom" id="idDosFrom" placeholder="MM/DD/YYYY">
              <mat-error *ngIf="dosFromFormControl.hasError('date')">
                {{dosFromFormControl.getError('date')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-sm-3 col-xs-3 no-padding container-dos-to">
            <mat-form-field class="input-small-size">
              <mat-label>DOS To</mat-label>
              <input matInput maxlength="10" formControlName="dosTo" id="idDosTo" placeholder="MM/DD/YYYY">
              <mat-error *ngIf="dosToFormControl.hasError('date')">
                {{dosToFormControl.getError('date')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-sm-3 col-xs-3 no-padding container-receipt-from">
            <mat-form-field class="input-small-size">
              <mat-label>Receipt Date From</mat-label>
              <input matInput maxlength="10" formControlName="recDateFrom" id="idReceiptDateFrom"
                placeholder="MM/DD/YYYY">
              <mat-error *ngIf="recFromFormControl.hasError('date')">
                {{recFromFormControl.getError('date')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-sm-9 col-xs-9 no-padding container-receipt-to">
            <mat-form-field class="input-small-size">
              <mat-label>Receipt Date To</mat-label>
              <input matInput maxlength="10" formControlName="recDateTo" id="idRecdateTo" placeholder="MM/DD/YYYY">
              <mat-error *ngIf="recToFormControl.hasError('date')">
                {{recToFormControl.getError('date')}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-sm-12 col-xs-12 no-padding container-claim-status">
            <mat-form-field class="mat-form-field-claim-status">
              <mat-label>Claim Status</mat-label>
              <mat-select formControlName="status">
                <mat-option id="idStatus" *ngFor="let selection of claimStatusDescriptions"
                  [value]="formatClaimCode(selection.code)">
                  {{selection.description | titlecase}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12 text-right container-button-distance">
          <button type="button" class="btn btn-secondary btn-margin-right btn-size" id="idClear"
            (click)="resetForm()" foxHotkey="alt+r">Clear (R)
          </button>
          <button type="submit" class="btn btn-primary btn-margin-search btn-size" id="idSearch"
            foxHotkey="alt+s">Search
            (S)</button>
        </div>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>

<fox-section [noPadding]="true" class="fox-section-margin">
  <div class="container-header-table">
    <span class="txt-header"> Claim Search Results</span>
    <span class="txt-sub-header">Click a Claim Tracking # to view the claim image</span>
  </div>

  <div *ngIf="!(isDataDisplay)" class="container-not-found">
    <i focusable="false" class="fa fa-info-circle"></i>
    <p class="header-container">There is no active query for claims</p>
    <p>Search by one of the valid criteria above and select Search (S)</p>
  </div>

  <div class="claim-search-table-main row" *ngIf="isDataDisplay">
    <div class="claim-search-non-mat-table-main">
      <mat-table class="claim-search-non-mat-table mat-table-search" #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="claimNumber" sticky>
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-claim">
            Claim Tracking #</mat-header-cell>
          <mat-cell class="mat-cell-claim" *matCellDef="let element; let i = index;" [ngClass]="[i % 2 === 0 ?  'mat-cell-claim-even' : 'mat-cell-claim-odd'  ]">
            <div class="icon-briefcase">
              <i focusable="false">
                <img src="../../../assets/img/claim-blue.svg" alt="">
              </i>
            </div>
            <div>
              <div class="text-simplify">
                <a href="#/ClaimSearchPdfComponent?claimQuery={{element.claimNumber}}" target="_blank">{{element.claimNumber}}</a>
              </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-more btn-ellipsis" focusable="false">
                  <i aria-hidden="true" focusable="false">
                    <img src="../../../assets/img/more.svg" alt="">
                  </i>
                </button>
              </div>
              <mat-menu #menu="matMenu" [overlapTrigger]="false" class="mat-menu-width">
                <div class="menu-div-size">
                  <div>
                    <p class="tooltip-claim-tracking">Claim Tracking #</p>
                    <p class="tooltip-actual-claim" *ngIf="actualClaim" id="teste">{{actualClaim.claimNumber}}</p>
                    <p class="tooltip-copy-clipboard" (click)="copyText(actualClaim.claimNumber)">Copy to
                      Clipboard</p>
                  </div>
                </div>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="memberNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-member"> Member #</mat-header-cell>
          <mat-cell *matCellDef="let element" class="mat-cell-member">
            <div class="icon-user">
              <i focusable="false">
                <img src="../../../assets/img/member-blue.svg" class="img-member">
              </i>
            </div>
            <span class="cell-member-number">{{element.memberNumber}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="memberName">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-membername"> Member Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="mat-cell-membername margin-left-15">
            {{element.memberName | titlecase}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="provider">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Provider</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.provider}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div [innerHTML]="element.status | splitValue | titlecase "></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="receiptDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Receipt Date</mat-header-cell>
          <mat-cell *matCellDef="let element" [style.width]="200">
            <div [innerHTML]="element.receiptDate | splitValue "></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dos">
          <mat-header-cell *matHeaderCellDef mat-sort-header> DOS</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div [innerHTML]="element.dos | splitValue "></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="history">
          <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> &nbsp;
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="link-claim-history" [foxLink]
              (linkPressed)="claimHistoryModal(element.claimId,element.ppsClaimId)">History</a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="mat-row-height" *matRowDef="let row; columns: displayedColumns;" (click)="getRow(row)">
        </mat-row>
      </mat-table>

    </div>
  </div>

  <div class="container-paginator row" [hidden]="!isDataDisplay">
    <fox-paginator-non-material [(pageSize)]="pageSizeSelected" [dataLengthInput]="dataLengthInput" #paginator
      [pageTotal]="pageTotal" [(currentPage)]="currentPage" (currentPageChange)="calculateNewPage();"
      (pageSizeChange)="currentPage=0; calculateNewPage();"></fox-paginator-non-material>
  </div>

</fox-section>

<fox-modal [(visible)]="showClaimHistoryModal" modalTitle="Claim History {{claimHistoryPPSClaimId}}">
  <div class="col-md-12 container-grey-border no-padding" *ngIf="historyDataSource">
    <div class="claim-history-mat-table-main">
      <mat-table class="claim-search-non-mat-table" #table [dataSource]="historyDataSource">

        <ng-container matColumnDef="assignedBy">
          <mat-header-cell *matHeaderCellDef> MS ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.assignedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="eventState">
          <mat-header-cell *matHeaderCellDef> CLAIM STATUS</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{formatClaimStatus(element.eventState)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="eventDispositionReason">
          <mat-header-cell *matHeaderCellDef> CLAIM STATUS REASON</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.eventStateReason}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="statusDate">
          <mat-header-cell *matHeaderCellDef> DATE</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{formatDateToCST(element.claimEventDate)}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedHistoryColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedHistoryColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
</fox-modal>
