<fox-section *ngIf="pageHeaderService.currentNav === 1">
  <fox-section-title>Content 1 Here</fox-section-title>
</fox-section>

<fox-section *ngIf="pageHeaderService.currentNav === 2">
  <fox-section-title>Content 2 Here</fox-section-title>
</fox-section>

<fox-section *ngIf="pageHeaderService.currentNav === 3">
  <fox-section-title>Content 3 Here</fox-section-title>
</fox-section>

<fox-section *ngIf="pageHeaderService.currentNav === 4">
  <fox-section-title>Content 4 Here</fox-section-title>
</fox-section>

<fox-section *ngIf="pageHeaderService.currentNav === 5">
  <fox-section-title>Content 5 Here</fox-section-title>
</fox-section>

<fox-section *ngIf="item">
  <fox-section-title>{{item}}</fox-section-title>
</fox-section>
